<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add/Edit Event</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e59232f0a1.js" crossorigin="anonymous"></script>
</head>
<body>

<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Event Management</h1>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form action="/events/add" method="POST">
                    <input id="id" type="hidden" name="id" th:value="(${event} != null ? ${event.getId()} : '')">

                    <div class="form-group">
                        <label for="name">Event Name</label>
                        <input type="text"
                               class="form-control"
                               id="name"
                               name="eventName"
                               th:value="(${event} != null ? ${event.getName()} : '')"
                               placeholder="Enter event name">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text"
                               class="form-control"
                               id="description"
                               name="description"
                               th:value="(${event} != null ? ${event.getDescription()} : '')"
                               required
                               placeholder="Enter event description">
                    </div>
                    <div class="form-group">
                        <label for="popularitySCore">Rating</label>
                        <input type="number" step="0.1" min="1" max="10"
                               class="form-control"
                               id="popularityScore"
                               name="popularityScore"
                               th:value="(${event} != null ? ${event.getPopularityScore()} : '')"
                               required
                               placeholder="Enter event popularity score">
                    </div>

                    <div class="form-group">
                        <label for="category">Category</label>
                        <select name="categoryId" class="form-control">
                            <option th:each="category : ${categories}"
                                    id="category"
                                    th:value="${category.getId()}"
                                    th:text="${category.getName()}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <select name="locationId" class="form-control">
                            <option th:each="location : ${locations}"
                                    id="location"
                                    th:value="${location.getId()}"
                                    th:text="${location.getName()}"></option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="/events" class="btn btn-secondary">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>